/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
// HTML Elements
a {
  color: rgb(96, 96, 96);
}

body {
  background-color: black;
}

footer {
  font-weight: 500;
  margin-top: 30px;
  text-align: center;
}

h1 {
  font-weight: 300;
  text-align: center;
}

h3 {
  font-weight: 400;
}

// CUSTOM CLASSES
.box.a:hover {
  color: black;
}

.box {
  padding: 50px;
  margin: 15%;
  border-radius: 8px;
  justify-content: center;
  background-color: whitesmoke
}

.header {
  color: lightgrey;
  float: right;
  text-align: right;
  font-weight: 400px;
  font-size: 12px;
}

.top_links {
  padding-left: 15px;
  padding-top: 10px;
}

