/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: black;
}

h1 {
  font-weight: 300;
  text-align: center;
}
.box {
  padding: 50px;
  margin: 15%;
  border-radius: 8px;
  justify-content: center;
  background-color: whitesmoke
}

.btn, .btn:hover {
  color: white;
  background-color: black;
}

footer {
  font-weight: 500;
  margin-top: 30px;
  text-align: center;
}