<br>
<h1> Welcome to Maria's Coffee House!</h1>
<br>
<hr>

 <footer> <%= link_to "SEE ALL OF OUR CURRENT COFFEE", products_path%> </footer>

<h4>ABOUT US</h4>
<p>Reprehenderit anim elit enim ut. Non eu occaecat in mollit dolore. Pariatur adipisicing ea eiusmod dolor sunt Lorem non excepteur eiusmod quis dolore. Et dolore consequat ipsum laborum laborum id non nisi aliqua nostrud incididunt. Est et ullamco tempor do proident veniam. Laborum veniam qui eu ex magna ad voluptate velit adipisicing ad.</p>

<br>
<h4>NEWEST FEATURED PRODUCTS</h4>
<%# CODE FOR THREE MOST RECENTLY ADDED PRODUCTS %>

<% if @most_recent_product.any? %>
  <ul>
  <% @most_recent_product.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
  </ul>
<% else %> 
  <p>There are currently no products to display.</p>
<% end %>

<br>
<h4>OUR MOST POPULAR PRODUCT</h4>
<p>Ullamco esse sit fugiat ut voluptate adipisicing. Dolore sit nulla qui adipisicing. Proident tempor ex elit esse amet quis ex voluptate aliquip esse deserunt duis.</p>
<% if @most_reviewed_product.any? %>
  <ul>
  <% @most_reviewed_product.each do |product| %>
    <li><%= link_to product.name, product_path(product) %> has <%= product.reviews.count %> reviews!</li>
  <% end %>
  </ul>
<% else %> 
  <p>There are currently no products to display.</p>
<% end %>
<%# CODE FOR MOST POPULAR PRODUCT %>

