<%# LANDING PAGE 
- information on company
- three most recently added products
- 'featured' product with the most reveiws %>


<h1> Welcome to Maria's Specialty Market!</h1>

<div class="header">
  <%= link_to "Check Out ALL of Our Other Products Here!", product_path%>
</div>

<h4>About Our Company</h4>
<p>Reprehenderit anim elit enim ut. Non eu occaecat in mollit dolore. Pariatur adipisicing ea eiusmod dolor sunt Lorem non excepteur eiusmod quis dolore. Et dolore consequat ipsum laborum laborum id non nisi aliqua nostrud incididunt. Est et ullamco tempor do proident veniam. Laborum veniam qui eu ex magna ad voluptate velit adipisicing ad.</p>

<h4>Here's our three most recently added products!</h4>
<%# CODE FOR THREE MOST RECENTLY ADDED PRODUCTS %>

<h4>Our MOST popular product!</h4>
<p>Ullamco esse sit fugiat ut voluptate adipisicing. Dolore sit nulla qui adipisicing. Proident tempor ex elit esse amet quis ex voluptate aliquip esse deserunt duis.</p>
<%# CODE FOR MOST POPULAR PRODUCT %>
