<br>
<h1> MARIA'S COFFEE</h1>
<footer>
  <%= link_to "HOME PAGE", home_path %>  
   <% if current_user && current_user.admin %>  
    || <%= link_to "ADD PRODUCT", new_product_path %>
   <% end %>
</footer>
<br>
<hr>
<% if @products.any? %>
  <ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
  </ul>
<% else %> 
  <p>There are currently no products to display.</p>
<% end %>

