<%# PRODUCTS PAGE %>
<h1>MARIA'S PRODUCE</h1>

<% if @products.any? %>
  <ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
  </ul>
<% else %> 
  <p>There are currently no products to display.</p>
<% end %>

<p></p>
<footer><%= link_to "HOME PAGE", home_path %> || <%= link_to "ADD PRODUCT", new_product_path %></footer>
